@import "tailwindcss";

@layer components{
  .background{
    height: 100vh;
    width: 100%;
  }
  .button-hover{
    background-color: #62FFA3;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4FB0D3;
}